/* -------------------- */

:root{
    --main-back: #ffffff;
    --main-font: #000000;
    --main-border: #000000;

    --button-back: #ffffff;
    --button-border: #000000;
    --button-hover: #cfcfcf;

    --scroll-back: #ffffff;
    --scroll-main: #ececec;
    --scroll-hover: #cfcfcf;
}

/* -------------------- */

/* Main Structure */

*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--main-back);
    color: var(--main-font);
    font-size: 12px;
}

#main{
    flex: 1 1;
}

#footer{
    font-size: 12px;
    flex: 0 0 20px;
    text-align: left;
    padding-left: 10px;
    cursor: context-menu;
}

/* -------------------- */

/* Scroll Bar */

::-webkit-scrollbar-track{
	background-color: var(--scroll-back);
}

::-webkit-scrollbar{
	width: 10px;
    height: 10px;
	background-color: var(--scroll-back);
}

::-webkit-scrollbar-thumb{
	background-color: var(--scroll-main);
}

::-webkit-scrollbar-thumb:vertical:hover {
  background-color: var(--scroll-hover);
  cursor: pointer;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: var(--scroll-hover);
  cursor: pointer;
}

/* -------------------- */

/* Header */

#header h1{
    margin: 15px auto;
    font-size: 20px;
    text-decoration: none;
    cursor: context-menu;
}

#header h1 a{
    text-decoration: none;
    cursor: pointer;
    color: var(--main-font);
}

#header h1:before, #header h1:after {
    content: "";
    display: inline-block;
    width: 10%;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
    border-bottom: 1px solid var(--main-border);
}

#header h1:after {
margin: 0 -55% 0 .5em;
}

/* -------------------- */

/* Content */

#main{
    display: flex;
    flex-wrap: nowrap;
}

@media (orientation: landscape) {
    #main {
      flex-direction: row;
    }
}

@media (orientation: portrait) {
    #main {
        flex-direction: column;
    }
}

#main #left, #main #right{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    min-width: 160px;
}

@media (orientation: landscape) {
    #main #left, #main #right {
        overflow-y: auto;
    }
}

#main #center{
    flex: 3 3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

@media (orientation: landscape) {
    #main #center {
        flex: 3 3;
    }
}

@media (orientation: portrait) {
    #main #center {
        flex: 1 1;
    }
}

/* -------------------- */

/* Main Fonts */

h2{
    margin: 10px auto;
    font-size: 20px;
}

/* -------------------- */

/* Inputs */

input[type=button]{
    font-family: Arial;
    color: var(--main-font);
    font-size: 12px;
    border: 1px solid var(--button-border);
    background: var(--button-back);
    padding: 2px 5px;
    text-decoration: none;
    margin: 10px auto;
    width: 60px;
}
    
input[type=button]:hover {
    background: var(--button-hover);
    cursor: pointer;
}

input[type=button].disabled{
    opacity: 50%;
}

input[type=button].disabled:hover{
    opacity: 50%;
    background: var(--button-back);
    cursor: context-menu;
}

input[type=button].hide{
    display: none;
}

/* -------------------- */

/* Clock */

#stopwatch p{
    font-size: 30px;
    margin: auto;
}

#stopwatch p:before, #stopwatch p:after {
    content: "";
    display: inline-block;
    width: 10%;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
    border-bottom: 1px solid var(--main-border);
}

#stopwatch p:after {
    margin: 0 -55% 0 .5em;
}

#timer{
    font-size: 30px;
    margin: 20px auto;
}

#timer:before, #timer:after {
    content: "";
    display: inline-block;
    width: 10%;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
    border-bottom: 1px solid var(--main-border);
}

#timer:after {
    margin: 0 -55% 0 .5em;
}

/* -------------------- */

/* Selection Button */

.flex-btn{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px auto;
}

#left .flex-btn label{
    flex: 1 1 60px;
    text-align: right;
}

#right input[type="checkbox"]{
    display: none;
}

#right input[type="checkbox"]+label {
    flex: 1 1 78px;
    margin: 5px;
}

#right input[type="checkbox"]:checked+label {
    font-weight: bold;
    text-decoration: underline;
}


/* -------------------- */

/* Main Nav Buttons */

.center-button{
    height: 100%;
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-button a{
    text-decoration: none;
    font-size: 5vw;
    color: var(--main-font);
}

/* -------------------- */

/* Misc Elements */

.line{
    width: 80%;
    border-bottom: 1px solid var(--main-border);
    margin: 10px auto;
}

/* -------------------- */

/* Music Player */

#music-player select{
    width: 80%;
    text-align: center;
    margin: 10px auto;
}

#music-player audio{
    width: 80%;
    margin: 10px auto;
}

/* -------------------- */

/* Main Content */

#center #container{
    flex: 1 1;
}

#center #controls{
    flex: 0 0 150px;
}

@media (orientation: landscape) {
    #center #container #question {
        margin: 50px;
        height: calc(100% - 100px);
        width: calc(100% - 100px);
    }
}

@media (orientation: portrait) {
    #center #container #question {
        margin: 10px;
        height: 50vw;
        width: calc(100% - 20px);
    }
}

/* -------------------- */

/* Quest Answer Table */

#quest-table{
    margin: auto;
    width: 90%;
    font-size: 30px;
    cursor: context-menu;
    height: 100%;
}

#quest-table th, #quest-table td{
    width: 50%;
    text-align: center;
}

#quest-table tbody{
    height: 100%;
    display: block;
    overflow-y: scroll;
}

#quest-table thead, #quest-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

/* -------------------- */

/* Topic Sub Titles */

#right h3{
    margin: 5px auto 3px auto;
    font-size: 12px;
    text-decoration: none;
    cursor: context-menu;
}

#right h3:before, #right h3:after {
    content: "";
    display: inline-block;
    width: 10%;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
    border-bottom: 1px solid var(--main-border);
}

#right h3:after {
    margin: 0 -55% 0 .5em;
}

/* -------------------- */

/* Video Gallery */

.video-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.video-container .video{
    height: 15rem;
    width: 20rem;
    margin: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 1rem;
}

.video-container .video video{
    height: 100%;
    width: 100%;
    object-fit: contain;
    outline: none;
    border: none;
    cursor: pointer;
}

.video-container .video video:hover{
    transition: 0.2s linear;
    transform: scale(1.6);
}

.video-container .video .active{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: auto;
    box-shadow: 0 0 0 100vh rgba(0,0,0,0.7);
    z-index: 1;
}

.video-container .video .active:hover{
    transition: none;
    transform: 
        translate(-50%, -50%)
        scale(1);
}