<div class="banner">
    <div><h2>Bar Charts</h2></div>
    <div><h2>Name: .................................</h2></div>
    <div><img src="../images/elfed-banner.png" alt="Elfed Banner"></div>
</div>
<div class="content">
    <div class="content-row">
        <object data="../images/bar-chart-1.svg" type="image/svg+xml" id="bar-chart-1"></object>
        <table>
            <tr>
                <th id="bc1-txt-label">Label</th>
                <th>Frequency</th>
            </tr>
            <tr>
                <td id="bc1-txt-x-0">Item 0</td>
                <td id="bc1-val-x-0">0</td>
            </tr>
            <tr>
                <td id="bc1-txt-x-1">Item 1</td>
                <td id="bc1-val-x-1">1</td>
            </tr>
            <tr>
                <td id="bc1-txt-x-2">Item 2</td>
                <td id="bc1-val-x-2">2</td>
            </tr>
            <tr>
                <td id="bc1-txt-x-3">Item 3</td>
                <td id="bc1-val-x-3">3</td>
            </tr>
            <tr>
                <td id="bc1-txt-x-4">Item 4</td>
                <td id="bc1-val-x-4">4</td>
            </tr>
        </table>
    </div>
    <div class="content-row">
        <object data="../images/bar-chart-2.svg" type="image/svg+xml" id="bar-chart-2"></object>
        <table>
            <tr>
                <th id="bc2-txt-label">Label</th>
                <th>Frequency</th>
            </tr>
            <tr>
                <td id="bc2-txt-x-0">Item 0</td>
                <td id="bc2-val-x-0">0</td>
            </tr>
            <tr>
                <td id="bc2-txt-x-1">Item 1</td>
                <td id="bc2-val-x-1">1</td>
            </tr>
            <tr>
                <td id="bc2-txt-x-2">Item 2</td>
                <td id="bc2-val-x-2">2</td>
            </tr>
            <tr>
                <td id="bc2-txt-x-3">Item 3</td>
                <td id="bc2-val-x-3">3</td>
            </tr>
            <tr>
                <td id="bc2-txt-x-4">Item 4</td>
                <td id="bc2-val-x-4">4</td>
            </tr>
        </table>
    </div>
    <div class="content-row">
        <object data="../images/bar-chart-3.svg" type="image/svg+xml" id="bar-chart-3"></object>
        <table>
            <tr>
                <th id="bc3-txt-label">Label</th>
                <th>Frequency</th>
            </tr>
            <tr>
                <td id="bc3-txt-x-0">Item 0</td>
                <td id="bc3-val-x-0">0</td>
            </tr>
            <tr>
                <td id="bc3-txt-x-1">Item 1</td>
                <td id="bc3-val-x-1">1</td>
            </tr>
            <tr>
                <td id="bc3-txt-x-2">Item 2</td>
                <td id="bc3-val-x-2">2</td>
            </tr>
            <tr>
                <td id="bc3-txt-x-3">Item 3</td>
                <td id="bc3-val-x-3">3</td>
            </tr>
            <tr>
                <td id="bc3-txt-x-4">Item 4</td>
                <td id="bc3-val-x-4">4</td>
            </tr>
        </table>
    </div>
</div>