<div class="banner">
    <div><h2>Boxplots</h2></div>
    <div><h2>Name: .................................</h2></div>
    <div><img src="../img/elfed-banner.png" alt="Elfed Banner"></div>
</div>
<div class="content space-around">
    <div class="content-col">
        <p id="c1-title" class="title">Title</p>
        <object data="../img/chart-x1-y0.svg" type="image/svg+xml" id="chart-1"></object>
        <table>
            <tr>
                <td>Minimum Value:</td>
                <td id="c1-min-val"></td>
                <td>Maximum Value:</td>
                <td id="c1-max-val"></td>
                <td>Median Value:</td>
                <td id="c1-med-val"></td>
            </tr>
            <tr>
                <td>Range:</td>
                <td id="c1-range"></td>
                <td>Lower Quartile:</td>
                <td id="c1-low-q"></td>
                <td>Upper Quartile:</td>
                <td id="c1-upp-q"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Interquartile Range:</td>
                <td id="c1-int-range"></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="content-col">
        <p id="c2-title" class="title">Title</p>
        <object data="../img/chart-x1-y0.svg" type="image/svg+xml" id="chart-2"></object>
        <table>
            <tr>
                <td>Minimum Value:</td>
                <td id="c2-min-val"></td>
                <td>Maximum Value:</td>
                <td id="c2-max-val"></td>
                <td>Median Value:</td>
                <td id="c2-med-val"></td>
            </tr>
            <tr>
                <td>Range:</td>
                <td id="c2-range"></td>
                <td>Lower Quartile:</td>
                <td id="c2-low-q"></td>
                <td>Upper Quartile:</td>
                <td id="c2-upp-q"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Interquartile Range:</td>
                <td id="c2-int-range"></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="content-col">
        <p id="c3-title" class="title">Title</p>
        <object data="../img/chart-x1-y0.svg" type="image/svg+xml" id="chart-3"></object>
        <table>
            <tr>
                <td>Minimum Value:</td>
                <td id="c3-min-val"></td>
                <td>Maximum Value:</td>
                <td id="c3-max-val"></td>
                <td>Median Value:</td>
                <td id="c3-med-val"></td>
            </tr>
            <tr>
                <td>Range:</td>
                <td id="c3-range"></td>
                <td>Lower Quartile:</td>
                <td id="c3-low-q"></td>
                <td>Upper Quartile:</td>
                <td id="c3-upp-q"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Interquartile Range:</td>
                <td id="c3-int-range"></td>
                <td colspan="2" id="chart-3-source"></td>
            </tr>
        </table>
    </div>
</div>