<div class="banner">
    <div><h2>Line Charts</h2></div>
    <div><h2>Name: .................................</h2></div>
    <div><img src="../img/elfed-banner.png" alt="Elfed Banner"></div>
</div>
<div class="content">
    <div class="content-row">
        <object data="../img/chart-x2-y1.svg" type="image/svg+xml" id="chart-1"></object>
        <table>
            <tr>
                <th id="c1-txt-x-label">Label</th>
                <th id="c1-txt-y-label">Frequency</th>
            </tr>
            <tr>
                <td id="c1-txt-x-0">Item 0</td>
                <td id="c1-val-x-0">0</td>
            </tr>
            <tr>
                <td id="c1-txt-x-1">Item 1</td>
                <td id="c1-val-x-1">1</td>
            </tr>
            <tr>
                <td id="c1-txt-x-2">Item 2</td>
                <td id="c1-val-x-2">2</td>
            </tr>
            <tr>
                <td id="c1-txt-x-3">Item 3</td>
                <td id="c1-val-x-3">3</td>
            </tr>
            <tr>
                <td id="c1-txt-x-4">Item 4</td>
                <td id="c1-val-x-4">4</td>
            </tr>
            <tr class="no-border">
                <td colspan="2" id="chart-1-source"></td>
            </tr>
        </table>
    </div>
    <div class="content-row">
        <object data="../img/chart-x0-y1.svg" type="image/svg+xml" id="chart-2"></object>
        <table>
            <tr>
                <th id="c2-txt-x-label">Label</th>
                <th id="c2-txt-y-label">Frequency</th>
            </tr>
            <tr>
                <td id="c2-txt-x-0">Item 0</td>
                <td id="c2-val-x-0">0</td>
            </tr>
            <tr>
                <td id="c2-txt-x-1">Item 1</td>
                <td id="c2-val-x-1">1</td>
            </tr>
            <tr>
                <td id="c2-txt-x-2">Item 2</td>
                <td id="c2-val-x-2">2</td>
            </tr>
            <tr>
                <td id="c2-txt-x-3">Item 3</td>
                <td id="c2-val-x-3">3</td>
            </tr>
            <tr>
                <td id="c2-txt-x-4">Item 4</td>
                <td id="c2-val-x-4">4</td>
            </tr>
            <tr class="no-border">
                <td colspan="2" id="chart-2-source"></td>
            </tr>
        </table>
    </div>
    <div class="content-row">
        <object data="../img/chart-x0-y0.svg" type="image/svg+xml" id="chart-3"></object>
        <table>
            <tr>
                <th id="c3-txt-x-label">Label</th>
                <th id="c3-txt-y-label">Frequency</th>
            </tr>
            <tr>
                <td id="c3-txt-x-0">Item 0</td>
                <td id="c3-val-x-0">0</td>
            </tr>
            <tr>
                <td id="c3-txt-x-1">Item 1</td>
                <td id="c3-val-x-1">1</td>
            </tr>
            <tr>
                <td id="c3-txt-x-2">Item 2</td>
                <td id="c3-val-x-2">2</td>
            </tr>
            <tr>
                <td id="c3-txt-x-3">Item 3</td>
                <td id="c3-val-x-3">3</td>
            </tr>
            <tr>
                <td id="c3-txt-x-4">Item 4</td>
                <td id="c3-val-x-4">4</td>
            </tr>
            <tr class="no-border">
                <td colspan="2" id="chart-3-source"></td>
            </tr>
        </table>
    </div>
</div>