<div class="banner">
    <div><h2>Pictograms</h2></div>
    <div><h2>Name: .................................</h2></div>
    <div><img src="../images/elfed-banner.png" alt="Elfed Banner"></div>
</div>
<div class="content">
    <div class="content-row">
        <table class="wide-table">
            <tr class="tall-row">
                <td class="no-border title" colspan="6" id="c1-txt-title">Title</td>
            </tr>
            <tr>
                <th id="c1-txt-x-label">Label</th>
                <th id="c1-txt-y-label">Frequency</th>
                <th class="no-border"></th>
                <th class="wide-column">Pictogram</th>
                <th class="no-border"></th>
                <th class="no-border fixed-column"></th>
            </tr>
            <tr>
                <td id="c1-txt-x-0">Item 0</td>
                <td id="c1-val-x-0">0</td>
                <td class="no-border"></td>
                <td class="wide-column"></td>
                <td class="no-border"></td>
                <td class="no-border"></td>
            </tr>
            <tr>
                <td id="c1-txt-x-1">Item 1</td>
                <td id="c1-val-x-1">1</td>
                <td class="no-border"></td>
                <td class="wide-column"></td>
                <td class="no-border"></td>
                <th>Key</th>
            </tr>
            <tr>
                <td id="c1-txt-x-2">Item 2</td>
                <td id="c1-val-x-2">2</td>
                <td class="no-border"></td>
                <td class="wide-column"></td>
                <td class="no-border"></td>
                <td rowspan="2"><div class="square"><p id="c1-key-val">= #</p></div></td>
            </tr>
            <tr>
                <td id="c1-txt-x-3">Item 3</td>
                <td id="c1-val-x-3">3</td>
                <td class="no-border"></td>
                <td class="wide-column"></td>
            </tr>
            <tr>
                <td id="c1-txt-x-4">Item 4</td>
                <td id="c1-val-x-4">4</td>
                <td class="no-border"></td>
                <td class="wide-column"></td>
            </tr>
            <tr class="no-border">
                <td colspan="2" id="chart-1-source"></td>
            </tr>
        </table>
    </div>
    <div class="content-row">
        <table class="wide-table">
            <tr class="tall-row">
                <td class="no-border title" colspan="6" id="c2-txt-title">Title</td>
            </tr>
            <tr>
                <th id="c2-txt-x-label">Label</th>
                <th id="c2-txt-y-label">Frequency</th>
                <th class="no-border"></th>
                <th class="wide-column">Pictogram</th>
                <th class="no-border"></th>
                <th class="no-border fixed-column"></th>
            </tr>
            <tr>
                <td id="c2-txt-x-0">Item 0</td>
                <td id="c2-val-x-0">0</td>
                <td class="no-border"></td>
                <td class="wide-column"></td>
                <td class="no-border"></td>
                <td class="no-border"></td>
            </tr>
            <tr>
                <td id="c2-txt-x-1">Item 1</td>
                <td id="c2-val-x-1">1</td>
                <td class="no-border"></td>
                <td class="wide-column"></td>
                <td class="no-border"></td>
                <th>Key</th>
            </tr>
            <tr>
                <td id="c2-txt-x-2">Item 2</td>
                <td id="c2-val-x-2">2</td>
                <td class="no-border"></td>
                <td class="wide-column"></td>
                <td class="no-border"></td>
                <td rowspan="2"><div class="square"><p id="c2-key-val">= #</p></div></td>
            </tr>
            <tr>
                <td id="c2-txt-x-3">Item 3</td>
                <td id="c2-val-x-3">3</td>
                <td class="no-border"></td>
                <td class="wide-column"></td>
            </tr>
            <tr>
                <td id="c2-txt-x-4">Item 4</td>
                <td id="c2-val-x-4">4</td>
                <td class="no-border"></td>
                <td class="wide-column"></td>
            </tr>
            <tr class="no-border">
                <td colspan="2" id="chart-2-source"></td>
            </tr>
        </table>
    </div>
    <div class="content-row">
        <table class="wide-table">
            <tr class="tall-row">
                <td class="no-border title" colspan="6" id="c3-txt-title">Title</td>
            </tr>
            <tr>
                <th id="c3-txt-x-label">Label</th>
                <th id="c3-txt-y-label">Frequency</th>
                <th class="no-border"></th>
                <th class="wide-column">Pictogram</th>
                <th class="no-border"></th>
                <th class="no-border fixed-column"></th>
            </tr>
            <tr>
                <td id="c3-txt-x-0">Item 0</td>
                <td id="c3-val-x-0">0</td>
                <td class="no-border"></td>
                <td class="wide-column"></td>
                <td class="no-border"></td>
                <td class="no-border"></td>
            </tr>
            <tr>
                <td id="c3-txt-x-1">Item 1</td>
                <td id="c3-val-x-1">1</td>
                <td class="no-border"></td>
                <td class="wide-column"></td>
                <td class="no-border"></td>
                <th>Key</th>
            </tr>
            <tr>
                <td id="c3-txt-x-2">Item 2</td>
                <td id="c3-val-x-2">2</td>
                <td class="no-border"></td>
                <td class="wide-column"></td>
                <td class="no-border"></td>
                <td rowspan="2"><div class="circle"><p id="c3-key-val">= #</p></div></td>
            </tr>
            <tr>
                <td id="c3-txt-x-3">Item 3</td>
                <td id="c3-val-x-3">3</td>
                <td class="no-border"></td>
                <td class="wide-column"></td>
            </tr>
            <tr>
                <td id="c3-txt-x-4">Item 4</td>
                <td id="c3-val-x-4">4</td>
                <td class="no-border"></td>
                <td class="wide-column"></td>
            </tr>
            <tr class="no-border">
                <td colspan="2" id="chart-3-source"></td>
            </tr>
        </table>
    </div>
    <div class="content-row">
        <table class="wide-table">
            <tr class="tall-row">
                <td class="no-border title" colspan="6" id="c4-txt-title">Title</td>
            </tr>
            <tr>
                <th id="c4-txt-x-label">Label</th>
                <th id="c4-txt-y-label">Frequency</th>
                <th class="no-border"></th>
                <th class="wide-column">Pictogram</th>
                <th class="no-border"></th>
                <th class="no-border fixed-column"></th>
            </tr>
            <tr>
                <td id="c4-txt-x-0">Item 0</td>
                <td id="c4-val-x-0">0</td>
                <td class="no-border"></td>
                <td class="wide-column"></td>
                <td class="no-border"></td>
                <td class="no-border"></td>
            </tr>
            <tr>
                <td id="c4-txt-x-1">Item 1</td>
                <td id="c4-val-x-1">1</td>
                <td class="no-border"></td>
                <td class="wide-column"></td>
                <td class="no-border"></td>
                <th>Key</th>
            </tr>
            <tr>
                <td id="c4-txt-x-2">Item 2</td>
                <td id="c4-val-x-2">2</td>
                <td class="no-border"></td>
                <td class="wide-column"></td>
                <td class="no-border"></td>
                <td rowspan="2"></td>
            </tr>
            <tr>
                <td id="c4-txt-x-3">Item 3</td>
                <td id="c4-val-x-3">3</td>
                <td class="no-border"></td>
                <td class="wide-column"></td>
            </tr>
            <tr>
                <td id="c4-txt-x-4">Item 4</td>
                <td id="c4-val-x-4">4</td>
                <td class="no-border"></td>
                <td class="wide-column"></td>
            </tr>
            <tr class="no-border">
                <td colspan="2" id="chart-4-source"></td>
            </tr>
        </table>
    </div>
</div>