<div class="banner">
    <div><h2>Pie Charts</h2></div>
    <div><h2>Name: .................................</h2></div>
    <div><img src="../images/elfed-banner.png" alt="Elfed Banner"></div>
</div>
<div class="content">
    <div class="content-row">
        <object data="../images/chart-pie.svg" type="image/svg+xml" id="chart-1" class="large-chart"></object>
        <table class="translate-up">
            <tr class="no-border tall-row">
                <td id="c1-txt-title" colspan="2">Title</td>
            </tr>
            <tr>
                <th id="c1-txt-x-label">Label</th>
                <th>Frequency</th>
            </tr>
            <tr>
                <td id="c1-txt-x-0">Item 0</td>
                <td id="c1-val-x-0">0</td>
            </tr>
            <tr>
                <td id="c1-txt-x-1">Item 1</td>
                <td id="c1-val-x-1">1</td>
            </tr>
            <tr>
                <td id="c1-txt-x-2">Item 2</td>
                <td id="c1-val-x-2">2</td>
            </tr>
            <tr>
                <td id="c1-txt-x-3">Item 3</td>
                <td id="c1-val-x-3">3</td>
            </tr>
            <tr>
                <td id="c1-txt-x-4">Item 4</td>
                <td id="c1-val-x-4">4</td>
            </tr>
            <tr class="no-border">
                <td colspan="2" id="chart-1-source"></td>
            </tr>
        </table>
    </div>
    <div class="content-row">
        <object data="../images/chart-pie.svg" type="image/svg+xml" id="chart-2" class="large-chart"></object>
        <table class="translate-up">
            <tr class="no-border tall-row">
                <td id="c2-txt-title" colspan="2">Title</td>
            </tr>
            <tr>
                <th id="c2-txt-x-label">Label</th>
                <th id="c2-txt-y-label">Frequency</th>
            </tr>
            <tr>
                <td id="c2-txt-x-0">Item 0</td>
                <td id="c2-val-x-0">0</td>
            </tr>
            <tr>
                <td id="c2-txt-x-1">Item 1</td>
                <td id="c2-val-x-1">1</td>
            </tr>
            <tr>
                <td id="c2-txt-x-2">Item 2</td>
                <td id="c2-val-x-2">2</td>
            </tr>
            <tr>
                <td id="c2-txt-x-3">Item 3</td>
                <td id="c2-val-x-3">3</td>
            </tr>
            <tr>
                <td id="c2-txt-x-4">Item 4</td>
                <td id="c2-val-x-4">4</td>
            </tr>
            <tr class="no-border">
                <td colspan="2" id="chart-2-source"></td>
            </tr>
        </table>
    </div>
</div>