<div class="banner">
    <div><h2>Scatter Graphs</h2></div>
    <div><h2>Name: .................................</h2></div>
    <div><img src="../images/elfed-banner.png" alt="Elfed Banner"></div>
</div>
<div class="content">
    <div class="content-row">
        <object data="../images/chart-x1-y1.svg" type="image/svg+xml" id="chart-1"></object>
        <table>
            <tr>
                <th id="c1-txt-x-label">Label</th>
                <th id="c1-txt-y-label">Frequency</th>
            </tr>
            <tr>
                <td id="c1-txt-x-0">Item 0</td>
                <td id="c1-val-x-0">0</td>
            </tr>
            <tr>
                <td id="c1-txt-x-1">Item 1</td>
                <td id="c1-val-x-1">1</td>
            </tr>
            <tr>
                <td id="c1-txt-x-2">Item 2</td>
                <td id="c1-val-x-2">2</td>
            </tr>
            <tr>
                <td id="c1-txt-x-3">Item 3</td>
                <td id="c1-val-x-3">3</td>
            </tr>
            <tr>
                <td id="c1-txt-x-4">Item 4</td>
                <td id="c1-val-x-4">4</td>
            </tr>
            <tr>
                <td id="c1-txt-x-5">Item 5</td>
                <td id="c1-val-x-5">5</td>
            </tr>
            <tr>
                <td id="c1-txt-x-6">Item 6</td>
                <td id="c1-val-x-6">6</td>
            </tr>
            <tr>
                <td id="c1-txt-x-7">Item 7</td>
                <td id="c1-val-x-7">7</td>
            </tr>
        </table>
    </div>
    <div class="content-row">
        <object data="../images/chart-x0-y1.svg" type="image/svg+xml" id="chart-2"></object>
        <table>
            <tr>
                <th id="c2-txt-x-label">Label</th>
                <th id="c2-txt-y-label">Frequency</th>
            </tr>
            <tr>
                <td id="c2-txt-x-0">Item 0</td>
                <td id="c2-val-x-0">0</td>
            </tr>
            <tr>
                <td id="c2-txt-x-1">Item 1</td>
                <td id="c2-val-x-1">1</td>
            </tr>
            <tr>
                <td id="c2-txt-x-2">Item 2</td>
                <td id="c2-val-x-2">2</td>
            </tr>
            <tr>
                <td id="c2-txt-x-3">Item 3</td>
                <td id="c2-val-x-3">3</td>
            </tr>
            <tr>
                <td id="c2-txt-x-4">Item 4</td>
                <td id="c2-val-x-4">4</td>
            </tr>
            <tr>
                <td id="c2-txt-x-5">Item 5</td>
                <td id="c2-val-x-5">5</td>
            </tr>
            <tr>
                <td id="c2-txt-x-6">Item 6</td>
                <td id="c2-val-x-6">6</td>
            </tr>
            <tr>
                <td id="c2-txt-x-7">Item 7</td>
                <td id="c2-val-x-7">7</td>
            </tr>
        </table>
    </div>
    <div class="content-row">
        <object data="../images/chart-x0-y0.svg" type="image/svg+xml" id="chart-3"></object>
        <table>
            <tr>
                <th id="c3-txt-x-label">Label</th>
                <th id="c3-txt-y-label">Frequency</th>
            </tr>
            <tr>
                <td id="c3-txt-x-0">Item 0</td>
                <td id="c3-val-x-0">0</td>
            </tr>
            <tr>
                <td id="c3-txt-x-1">Item 1</td>
                <td id="c3-val-x-1">1</td>
            </tr>
            <tr>
                <td id="c3-txt-x-2">Item 2</td>
                <td id="c3-val-x-2">2</td>
            </tr>
            <tr>
                <td id="c3-txt-x-3">Item 3</td>
                <td id="c3-val-x-3">3</td>
            </tr>
            <tr>
                <td id="c3-txt-x-4">Item 4</td>
                <td id="c3-val-x-4">4</td>
            </tr>
            <tr>
                <td id="c3-txt-x-5">Item 5</td>
                <td id="c3-val-x-5">5</td>
            </tr>
            <tr>
                <td id="c3-txt-x-6">Item 6</td>
                <td id="c3-val-x-6">6</td>
            </tr>
            <tr>
                <td id="c3-txt-x-7">Item 7</td>
                <td id="c3-val-x-7">7</td>
            </tr>
        </table>
    </div>
</div>